body {
  animation-timing-function: linear;
  background-color: #fff7bc;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}

div {
  margin: 0 10%;
}

h1,
h2 {
  color: #fd5d5d;
  font-family: "Lobster";
}

p {
  color: black;
  font-family: Helvetica, sans-serif;
  margin-bottom: 0;
}

/* Top Container */
h1 {
  font-size: 8rem;
  margin: 0 0 3%;
}

/* Middle Container */
h3 {
  color: #fd5d5d;
  font-family: "Satisfy";
  font-size: 2rem;
}

.col {
  display: inline-block;
  margin: 0 5px;
}

.die-image {
  border-radius: 15%;
  width: 20rem;
}

/* Bottom Container */
h2 {
  margin-bottom: 5px;
}

/* @media Queries */
@media (max-width: 1050px) {
  div {
    margin: 0 5%;
  }

  h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 820px) {
  h1 {
    font-size: 5rem;
  }

  .die-image {
    width: 15rem;
  }
}

@media (max-width: 625px) {
  .die-image {
    width: 12rem;
  }
}

@media (max-width: 520px) {
  h1 {
    font-size: 4rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1rem;
  }
  .row {
    margin: 25px 0;
  }
  .die-image {
    width: 11rem;
  }
}

@media (max-width: 292px) {
  h1 {
    font-size: 2rem;
  }

  .die-image {
    width: 10rem;
  }
}
